.title_post {
  font-size: 18px;
  color: var(--main-black-color);
  transition: 0.2s;
}

.title_post:hover {
  cursor: pointer;
  color: var(--orange-color);
}

p {
  font-size: 12px;
  font-weight: var(--semi-bold-weight);
  color: var(--gray-color);
  transition: 0.4s;
}

.author:hover,
.source:hover {
  text-decoration: underline;
  cursor: pointer;
}
