/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  /* Font */
  --main-font: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  margin-bottom: 20px;
}

body {
  font-family: var(--main-font);
  margin-right: auto;
  margin-left: auto;
  max-width: 1040px;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.45);
}

input {
  padding: 5px;
}

.title,
.subtitle {
  text-align: center;
}

.form_section {
  margin: auto;
}

.nama_group {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.input_area:not(:last-child) {
  margin-bottom: 12px;
}

.btn_main {
  padding: 6px 18px;
  border-radius: 4px;
}

footer {
  text-align: center;
}
