.status_property_container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.property_list_checked,
.property_list_unchecked {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.property_title_list {
  text-align: center;
  margin-bottom: 12px;
}

.property_list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 8px;
  border: 1px solid rgba(124, 131, 146, 0.6);
  border-radius: 8px;
}

.property_list {
  margin-bottom: 12px;
}

.property_list_img {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 10px;
}

.property_list_name {
  font-weight: var(--medium-weight);
}

.property_list_price {
  color: var(--green-color);
  font-weight: var(--semi-bold-weight);
}
